.dark-theme {
  --white-color: rgba(9, 9, 11, 1);
  --black-color: rgba(255, 255, 255, 1);
  --metallic-color: rgba(0, 223, 94, 0.6);
  --neonGreen-color: rgba(192, 192, 192, 0.95);
  --gray-color: rgba(200, 200, 200, 1);
  --deep-black: rgba(192, 192, 192, 0.95);
  --pure-black: rgba(0, 223, 94, 0.6);
}

.home-container {
  min-width: 95%;
  min-height: 100vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home-container.show-top-button .top-button {
  display: block;
}

.portfolio-section {
  position: relative;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-content {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.portfolio-content-presentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight-text {
  margin-top: 10rem;
}

.portfolio-buttons {
  margin-top: 2rem;
}

.green-button {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 1.3rem 1.8rem;
  margin-right: 1rem;
}
.transparent-button {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1.3rem 1.8rem;
}

.about-section {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 30rem;
  padding-bottom: 5rem;
}

.about-section h1 {
  position: absolute;
  top: -15rem;
}

.contact-images {
  position: relative;
  width: 80%;
  margin: 10rem 0 10rem 0;
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-images h1 {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: center;
}

.contact-images-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact-icon {
  display: flex;
  justify-content: center;
  position: relative;
  width: 70px;
  height: 70px;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  background-color: var(--gray-color);
  cursor: pointer;
}

.contact-icon-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  top: 9rem;
  width: 15rem;
}

.contact-icon img {
  width: 4rem;
}
a {
  color: var(--white-color);
}

.image-about {
  width: 40rem;
  height: auto;
  border-radius: 50%;
}

.about-details {
  text-align: center;
}

h1,
p,
h2,
h5,
h6,
h3 {
  color: var(--white-color);
}

.project-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  padding-top: 10rem;
  margin-top: 15rem;
  justify-content: space-around;
}

.project-section h1 {
  position: absolute;
  top: -7rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 24rem;
  align-items: center;
  justify-content: center;
  background-color: var(--pure-black);
}

.service-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-top: 30rem;
  justify-content: space-around;
}

.service-section h1 {
  position: absolute;
  top: -15rem;
}

.project-card-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  width: 30rem;
  height: 19rem;
  background-color: var(--deep-black);
  /* border: 1px solid var(--pure-black); */
}

.project-card-img img {
  font-weight: 500;
  font-size: 2.4rem;
  margin-left: 2rem;
  margin-top: 2rem;
  color: #fff;
}
.project-card-img-greenLine,
.project-section-card-greenLine {
  width: 100%;
  height: 0.5rem;
  background-color: rgba(0, 223, 94, 0.6);
}

.project-section-card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 24rem;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--deep-black);
  border: 1px solid #333333;
}

.project-section-card h2 {
  margin-left: 1rem;
}

.skills-card-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 15rem;
  background-color: var(--deep-black);
  border: 1px solid var(--pure-black);
}

.skills-card-img img {
  width: 9rem;
}

.skills-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30rem;
  gap: 2rem;
  justify-content: space-around;
}

.skills-section h1 {
  position: absolute;
  top: -15rem;
}

.skills-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 43rem) {
  .portfolio-section {
    display: flex;
    flex-direction: column;
  }
  .image-about {
    display: none;
  }
  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-content img {
    display: none;
  }

  .contact-icon-text {
    display: none;
  }
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 0.5);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.top-button.active {
  display: block;
}
