:root {

  --maximum-yellow-red: linear-gradient(145deg, rgba(240, 240, 240, 0.8), rgba(204, 204, 204, 0.8));
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(2, 100%, 69%);
  --french-rose: hsl(342, 90%, 61%);
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);


  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  --transition: 0.25s ease-in-out;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
button,
span,
ion-icon,
label,
input,
textarea {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font: inherit;
  background: none;
  border: none;
  width: 100%;
}

:is(input, textarea):focus {
  outline: none;
}

:focus {
  outline-offset: 4px;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
}


.container {
  padding: 0 15px;
}


*/ .h1,
.h2,
.h3 {
  font-weight: var(--fw-600);
  line-height: 1.3;
  text-transform: capitalize;
}

.h1 {
  color: var(--oxford-blue);
  font-size: var(--fs-2);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  color: var(--oxford-blue);
  font-size: var(--fs-3);
}

.h4 {
  color: var(--royal-blue-dark);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.btn {
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 6px;
}

.btn-primary {
  background: var(--bittersweet);
  border-color: var(--bittersweet);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) {
  --bittersweet: hsl(2, 58%, 45%);
}

.btn-primary-modific {
  font-size: 20px;
}

.btn-secondary:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.1);
}

header {
  position: relative;
  z-index: 2;
  background: linear-gradient(145deg, #cccccc, #f0f0f0);
  box-shadow: 4px 4px 8px #bbbbbb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  overflow: hidden;
  /* Para garantir que o gradiente animado não transborde */
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  /* Largura maior para dar espaço à animação */
  height: 100%;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(50%);
  }
}



header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-btn {
  font-size: 30px;
  /* border: 2px solid red; */
  padding: 5px;
}

.navbar {
  position: absolute;
  top: 85px;
  left: 15px;
  right: -15px;
  background: var(--maximum-yellow-red);
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
  transform-origin: top;
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  pointer-events: all;
  max-height: 280px;
}

.navbar-list {
  padding: 10px;
}

.nav-item:not(:last-child) {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.nav-link {
  font-size: var(--fs-6);
  color: var(--royal-blue-dark);
  font-weight: var(--fw-600);
  padding: 15px 10px;
  opacity: 0;
  transition: opacity var(--transition);
}

.nav-link:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.2);
}

.navbar.active .nav-link {
  transition-delay: 0.2s;
  opacity: 1;
}

.navbar .btn-primary {
  display: none;
}

.hero {
  position: relative;
  padding: 130px 0 0 0;
  z-index: 1;
  bottom: 100px;
}

.hero-content {
  text-align: center;

}

.hero-title,
.hero-text {
  margin-bottom: 40px;
}

.hero-title-modific {
  font-size: 2em;
  animation: colorChange 2s infinite alternate;
}



@keyframes colorChange {
  0% {
    color: red;
    text-shadow: 2px 2px black;
  }

  100% {
    color: black;
    text-shadow: 2px 2px red;
  }

}

.hero-text {
  font-size: var(--fs-4);
  color: var(--oxford-blue);
}

.hero .btn-primary {
  margin-inline: auto;
}

.hero-banner {
  display: none;
}

.shape-content {
  position: absolute;
  width: 900px;
  top: -230px;
  right: -300px;
  z-index: -1;
}

.about {
  position: relative;
  z-index: 1;
  background: url("../images/about-bg.png") no-repeat center/cover;
  padding: 120px 0;
  text-align: center;
}

.about-top {
  margin-bottom: 120px;
}

.about .h2,
.about-top .section-text,
.about-bottom .section-text {
  color: var(--white);
}

.about-top .section-title,
.about-bottom .section-title {
  margin-bottom: 20px;
}

.about-top .section-text,
.about-bottom .section-text {
  font-size: var(--fs-4);
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.about-card-wrapper {
  flex: 1 1 300px;
  /* Cards lado a lado com largura mínima */
  display: flex;
  justify-content: center;
  /* Centraliza o card dentro do wrapper */
}

.about-card {
  background: var(--white);
  padding: 40px;
  max-width: 350px;
  height: 100%;
  max-height: 400px;
  border-radius: 12px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card .card-title {
  margin-bottom: 15px;
}

.about-card .card-text {
  color: var(--davys-gray);
}

.about-bottom-banner {
  margin-bottom: 120px;
}

.about-bottom-banner img {
  width: 100%;
  height: 100%;
}

.about-bottom .btn-secondary {
  color: var(--white);
  margin-inline: auto;
}

.about-bottom-content {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .about-list {
    flex-direction: column;
    align-items: center;

  }

  .about-card {
    max-width: 350px;
    height: 100%;
    max-height: 400px;
  }
}

@media (min-width: 1024px) {
  .about-top .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .about-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-bottom-banner {
    margin-bottom: 0;
    height: 330px;
  }

  .about-bottom-content {
    width: 50%;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  font-size: 0.8em;
  font-family: var(--ff-poppins);
  padding: 10px;
  cursor: pointer;
  transition: font-size 0.3s, color 0.3s, margin-top 0.3s;
  margin: 0 10px;
  color: #ffffff;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-btn.active {
  font-size: 1.2em;
  color: blue;
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
  white-space: nowrap;
  /* Garante que o texto não quebre */
  flex: none;
  /* Permite que o tamanho da aba se ajuste ao conteúdo */
}



.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .tab-btn {
    font-size: 0.6em;
    /* Tamanho menor para abas não selecionadas no modo responsivo */
  }

  .tab-btn.active {
    font-size: 1em;
    /* Tamanho maior para a aba selecionada no modo responsivo */
    margin-top: -15px;
    /* Move a aba selecionada ainda mais para cima no modo responsivo */
    white-space: normal;
    /* Permite quebra de linha para texto longo na aba selecionada */
    overflow: visible;
    text-overflow: initial;
  }
}


.custom-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  height: 80%;
  position: relative;
}

.custom-modal-content p,
.custom-modal-content input,
.custom-modal-content button {
  margin-bottom: 15px;
}

.custom-close-btn {
  color: red;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.custom-close-btn:hover,
.custom-close-btn:focus {
  color: darkred;
  text-decoration: none;
  cursor: pointer;
}

#send-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

#send-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#customer-name {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

#custom-modal-card-content {
  margin-top: 20px;
  /* Move o conteúdo do card para baixo */
}






.card-icon {
  color: var(--bittersweet);
  font-size: 45px;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 15px;
}


.features {
  padding: 120px 0 0 0;
  text-align: center;
}

.features .section-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}

.features .section-text {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 120px;
}

.features-item:first-child {
  margin-bottom: 100px;
}

.features-item-banner {
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 60px;
}

.features-item-banner img {
  width: 450px;
  border-radius: 30%;
}

.features-item .item-title {
  color: var(--royal-blue-dark);
  margin-bottom: 20px;
}

.features-item .item-text {
  color: var(--rythm);
  font-size: var(--fs-4);
}

.item-text {
  text-align: justify;
}


.cta {
  padding-bottom: 80px;
}

.cta-card {
  background: linear-gradient(to top, var(--bittersweet) 0, var(--french-rose));
  padding: 80px 36px;
  border-radius: 20px;
  text-align: center;
}

.cta-title {
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
  line-height: 1.3;
  margin-bottom: 20px;
}

.cta-text {
  color: var(--white);
  font-size: var(--fs-6);
  margin-bottom: 50px;
}

.cta input {
  color: var(--white);
  padding: 10px 15px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}

.cta input::placeholder {
  color: inherit;
}

.cta .btn-secondary {
  color: var(--white);
  margin-inline: auto;
}

.contact {
  margin-bottom: 120px;
}

.contact-content {
  margin-bottom: 50px;
}

.contact-title {
  color: var(--royal-blue-dark);
  margin-bottom: 60px;
  text-align: center;
  font-weight: var(--fw-500) !important;
}

.contact-banner img {
  width: 100%;
}

.input-wrapper {
  margin-bottom: 30px;
}

.input-label {
  color: var(--oxford-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.input-field {
  border-bottom: 1px solid var(--platinum);
  padding: 7px 0;
  font-size: var(--fs-6);
}

.input-field::placeholder {
  color: var(--silver-chalice);
}

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}

.link-title {
  white-space: nowrap;
  /* Impede a quebra de linha */
}


footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background: linear-gradient(145deg, #cccccc, #f0f0f0);
  box-shadow: 4px 4px 8px #bbbbbb, -4px -4px 8px #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  /* Largura maior para dar espaço à animação */
  height: 100%;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
  animation: shine-footer 3s infinite linear;
}

.footer-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 20px;
}


@keyframes shine-footer {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(50%);
  }
}



footer img {
  margin-top: 25px;
}



.footer-text {
  color: var(--rythm);
  font-size: var(--fs-6);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.social-link {
  color: var(--rythm);
  font-size: var(--fs-4);
  margin-bottom: 10px;
}

.social-link:is(:hover, :focus) {
  color: var(--french-rose);
}

.footer-link-list:not(:last-child) {
  margin-bottom: 30px;
}

.footer-link-list .link-title {
  margin-bottom: 15px;
}

.footer-link {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  margin-bottom: 10px;
  max-width: 150px;
}

.footer-link:is(:hover, :focus) {
  color: var(--french-rose);
}

.footer-bottom {
  padding: 20px 15px;
  border-top: 1px solid hsla(0, 0%, 18%, 0.2);
}

.copyright {
  color: var(--cool-gray);
  text-align: center;
  font-size: var(--fs-6);
}

.copyright a {
  display: inline-block;
  color: var(--cool-gray);
}

.copyright a:is(:hover, :focus) {
  color: var(--french-rose);
}

.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background: var(--bittersweet);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: var(--white);
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.whatsapp-button {
  position: fixed;
  bottom: 15%;
  right: 30px;
  z-index: 1000;
  background-color: #25D366;
  color: white;
  padding: 13px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.whatsapp-button.active {
  opacity: 1;
  visibility: visible;

}

.whatsapp-button ion-icon {
  font-size: 24px;
}

.form-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.form-container iframe {
  width: 100%;
  height: 1000px;
  max-width: 100%;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.gallery-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  box-shadow: 10px 10px 0px 7px rgba(1, 2, 7, 0.101);
  border-radius: 10px;
  padding-bottom: 80px;
}

.gallery-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}


.section-title-modific {
  padding-bottom: 60px;
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
}

.gallery-pair {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  max-width: 800px;
  cursor: pointer;
}

.gallery-image {
  width: 48%;
  height: auto;
  margin: 0 5px;
  border-radius: 10px;
}

.gallery-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.gallery-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-slide img {
  width: 45%;
  height: auto;
  cursor: pointer;
}

.carousel-toggle {
  display: none;
}

#carousel-1:checked~.about-bottom-content .carousel {
  transform: translateX(0%);
}

#carousel-2:checked~.about-bottom-content .carousel {
  transform: translateX(-100%);
}

#carousel-3:checked~.about-bottom-content .carousel {
  transform: translateX(-200%);
}

#carousel-4:checked~.about-bottom-content .carousel {
  transform: translateX(-300%);
}

#carousel-5:checked~.about-bottom-content .carousel {
  transform: translateX(-400%);
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-control {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
}

.logoFooter {
  position: relative;
  bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  gap: 20px;
}

.modal-image {
  max-width: 45%;
  margin: auto;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 768px) {

  .footer-brand {
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal-image {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .form-container iframe {
    height: 1080px;
  }

  .features-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .features-item-banner img {
    width: 350px;
    padding-top: 50px;
    border-radius: 30%;
  }

  .features {
    height: auto;
  }

  .contact-banner img {
    display: none;
  }

  .gallery-container {
    position: relative;
    top: -80px;
  }

  .gallery-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-image {
    width: 80%;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }

  .gallery-pair:hover .gallery-image {
    transform: scale(1.05);
  }
}

@media (min-width: 450px) {

  :root {

    --fs-1: 60px;

  }

  .h1,
  .h2 {
    font-weight: var(--fw-700);
  }

  .btn {
    padding-block: 15px;
  }

  .navbar {
    left: auto;
    width: 300px;
  }


  .shape-content {
    top: -70px;
    right: -260px;
  }


  .features .h2 {
    --fs-2: 32px;
  }


  .cta-title {
    --fs-1: 42px;
  }

  .cta-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
  }

  .cta input {
    margin-bottom: 0;
  }

  .cta .btn-secondary {
    min-width: max-content;
  }


  .contact-title {
    --fs-2: 32px;
  }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }
}

@media (min-width: 560px) {

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .navbar-wrapper {
    position: relative;
  }

  .navbar {
    top: calc(100% + 15px);
    right: 0;
  }

  .hero-content,
  .about-bottom-content {
    text-align: center;

  }

  .hero .btn-primary,
  .about-bottom .btn-secondary {
    margin-inline: 0;
  }

  .btn-primary {
    width: 100%;
  }

  .shape-content {
    top: -156px;
    right: -152px;
  }

  .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 768px) {

  :root {

    --fs-2: 35px;
    --fs-4: 20px;

  }


  .container {
    max-width: 740px;
  }


  .contact-title {
    --fs-2: 42px;
  }


}

@media (min-width: 1024px) {


  .container {
    max-width: 950px;
  }


  .navbar-menu-btn {
    display: none;
  }

  .navbar {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  .nav-link {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar .btn-primary {
    display: block;
  }

  .hero-content {
    max-width: 550px;
  }

  .hero-banner {
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateY(-50%);
    width: 40%;
    padding-top: 450px;
    background: url("../images/grupoPessoas1.jpeg") no-repeat;
    border-radius: 20%;
    background-size: contain;
  }



  .features :is(.section-title, .section-text) {
    max-width: 650px;
    margin-inline: auto;
  }

  .features-item {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  .features-item-banner {
    margin-inline: 0;
    margin-bottom: 0;
  }


  .feature-item-content {
    width: 50%;
    text-align: center;
  }

  .features-item:last-child {
    flex-direction: row-reverse;
  }

  .cta-card>* {
    max-width: 600px;
    margin-inline: auto;
  }

  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content {
    max-width: 400px;
  }

  .contact-title {
    text-align: left;
  }

  .contact-form {
    width: 50%;
  }

  .footer-top .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-brand,
  .footer-link-list:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-link-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }

}

@media (min-width: 1200px) {

  :root {
    --fs-2: 42px;
  }

  .container {
    max-width: 1150px;
  }

  .hero-banner {
    right: 100px;
  }

  .about-bottom-banner {
    height: 400px;
  }

  .features .h2 {
    --fs-2: 42px;
  }

  .features :is(.section-title, .section-text) {
    max-width: 850px;
  }

}