.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--pure-black);
  height: 60px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  align-items: center;
  min-width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-vertical li {
  font-size: 5rem;
}
.menu li,
.menu-vertical li {
  margin: 0 15px;
  padding: 1rem 0;
  list-style: none;
}

.menu li a,
.menu-vertical li a {
  color: var(--black-color);
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  transition: color 0.2s;
}

.menu-vertical ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}
.menu li a:hover,
.menu-vertical li a:hover,
#link-about:hover {
  color: rgb(23, 46, 146);
}
.menu-vertical {
  width: auto;
  height: 100%;
  padding-top: 5rem;
}
#link-about {
  font-size: 4rem;
  cursor: pointer;
}
.hamburger {
  margin-right: 0.5rem;
  position: relative;
}

.hamburger-menu {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.hamburger-menu,
.hamburger.rotate {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.hamburger-rotate {
  transform: rotate(-90deg);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.hamburger.rotate {
  animation: rotateAnimation 2s linear infinite;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to right,
    var(--metallic-color),
    var(--neonGreen-color)
  );
  padding: 2rem;
  border-radius: 8px;
  max-height: 80vh;
  width: 35rem;
  height: 70rem;
  top: 9rem;
  right: 2rem;
}

.close {
  position: absolute;
  top: -1rem;
  right: 2rem;
  font-size: 5rem;
  color: var(--black-color);
}

.theme-icon {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.theme-toggle {
  margin-right: 3rem;
  margin-left: 5rem;
}
#toggleTheme-theme-icon {
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 6rem;
}
@media only screen and (min-width: 60rem) {
  .hamburger-icon {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .hamburger-icon {
    margin-right: 1rem;
  }
  .button-container {
    display: none;
  }

  .theme-icon {
    display: none;
  }
}
