* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

h1 {
  font-weight: 700;
  font-size: 5.6rem;
}

h2 {
  font-weight: 700;
  font-size: 4.2rem;
}

h5 {
  font-weight: 700;
  font-size: 1.9rem;
}

a {
  text-decoration: none;
}

p {
  font-weight: 500;
  font-size: 2.4rem;
}

:root {
  --white-color: rgb(255, 255, 255);
  --white2-color: rgba(224, 231, 220, 0.521);
  --black-color: rgba(9, 9, 11, 1);
  --gray-color: rgba(33, 33, 33, 1);
  --deep-black: rgba(23, 23, 23, 1);
  --pure-black: rgba(51, 51, 51, 1);
  --green-color: rgba(0, 128, 0, 1);
  --neonGreen-color: rgba(0, 223, 94, 0.6);
  --metallic-color: rgba(192, 192, 192, 0.95);
}
